PORT=4001
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/bravio
JWT_SECRET=replace-this-with-a-long-random-secret
APP_URL=http://localhost:4001
COOKIE_NAME=bravio_admin

ADMIN_NAME=Bravio Admin
ADMIN_EMAIL=admin@bravio.local
ADMIN_PASSWORD=admin12345

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
